{{#each this}}
<div class="photo-card">
    <div class="thumb-card">
        <a href="{{largeImageURL}}">
            <img class="img-card" src="{{webformatURL}}" alt="{{tags}}" title = "{{tags}}" loading="lazy"/></a>
    </div>
    <ul class="info">
        <li>
            <p class="info-item"><b>Likes</b> </p>
            <span class="quantity">{{likes}}</span>
        </li>
        <li>
            <p class="info-item"><b>Views</b></p>
            <span class="quantity">{{views}}</span>
        </li>
        <li>
            <p class="info-item"><b>Comments</b></p>
            <span class="quantity">{{comments}}</span>
        </li>
        <li>
            <p class="info-item"><b>Downloads</b></p>
            <span class="quantity">{{downloads}}</span>
        </li>

    </ul>
</div>
{{/each }}